/* Mid Styles */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Navigation Bar */
nav {
  background-color: #32174d;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  color: #ffd700;
}

nav a.active {
  color: #ffd700; 
}

nav a.login-btn {
  background-color: white;
  color: #32174d;
  padding: 8px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a.login-btn:hover {
  background-color: white;
  color: #32174d;
  text-decoration: none;
}
/* Mobile */
@media (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }

  nav a {
    margin: 10px 0;
  }
  nav a.login-btn {
    width: 100px;
    margin-top: 15px;
  }
}

